.PackageDetail {
  padding: 15px;
  overflow:hidden;
  width: 30%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  min-height:170px;
  line-height: 1.5em;
   margin: 25px;
}


@media screen and (max-width: 400px) {
   .PackageDetail { 
    width:auto;   
  }
}